name: 'Build and Release'

on:
  workflow_call:

jobs:
    build_and_release:
        name: Build and Release
        runs-on: ubuntu-latest
        steps:
            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: '18'

            - name: Checkout
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Build and Run tests
              run: |
                  npm ci
                  npm run test

            - name: Build connector
              run: |
                  npm run pack-zip

            - name: Extract version from package.json
              run: |
                  echo "PACKAGE_VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV
                  echo "CONNECTOR_NAME=$(jq -r .name package.json)" >> $GITHUB_ENV

            - name: Check version change
              id: version_check
              run: |
                  VERSION_CHANGED=$(git diff HEAD^ HEAD -- "package.json" | grep '\"version\"' || true)
                  if [ -z "$VERSION_CHANGED" ]; then
                    echo "package.json version has not changed. Skipping release."
                    echo "VERSION_CHANGED=false" >> $GITHUB_ENV
                  else
                    echo "Version changed detected. Proceeding with release."
                    echo "VERSION_CHANGED=true" >> $GITHUB_ENV
                  fi

            - name: Get Commits since last Release
              if: env.VERSION_CHANGED == 'true'
              id: changes
              uses: simbo/changes-since-last-release-action@v1

            - name: Create GitHub release
              if: env.VERSION_CHANGED == 'true'
              run: |
                  gh release create v${{ env.PACKAGE_VERSION }} \
                    --title "Release v${{ env.PACKAGE_VERSION }}" \
                    --notes "${{ steps.changes.outputs.log }}" \
                    --target main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload file to release
              if: env.VERSION_CHANGED == 'true'
              run: |
                  gh release upload v${{ env.PACKAGE_VERSION }} ./dist/${{ env.CONNECTOR_NAME }}-${{ env.PACKAGE_VERSION }}.zip --clobber
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

